<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et mollitia doloremque animi minima, inventore in
        assumenda ducimus facere ex quidem optio dolor adipisci atque voluptatum consequatur amet! Natus, tempore
        nesciunt.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et mollitia doloremque animi minima, inventore in
        assumenda ducimus facere ex quidem optio dolor adipisci atque voluptatum consequatur amet! Natus, tempore
        nesciunt.</p>
</body>

</html>