<%- include('partials/head') %>

    <%- include('partials/navbar') %>
        <h1>The Home Page <%= 'hello world' .toUpperCase()%>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et mollitia doloremque animi minima, inventore
            in
            assumenda ducimus facere ex quidem optio dolor adipisci atque voluptatum consequatur amet! Natus,
            tempore
            nesciunt.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et mollitia doloremque animi minima, inventore
            in
            assumenda ducimus facere ex quidem optio dolor adipisci atque voluptatum consequatur amet! Natus,
            tempore
            nesciunt.</p>
        <%- include('partials/footer') %>